{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Monash Attendance System</h1>
      <p class="lead">MAS is a user-friendly, effective and powerful system that provides smoothly integrated automated access control, attendance, reporting and more.</p>
      <hr class="my-4">
      <p>Please login to continue.</p>
      <div class="row">
          <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      </div>

    </div>
{% endblock content %}