{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Monash Attendance System</h1>
        <br>
      <p class="lead">MAS is a user-friendly, effective and powerful system that provides smoothly integrated automated access control, attendance, reporting and more.</p>
      <p class="lead">Student will be able to access and view their weekly performance in every unit and download their own attendance data.</p>
      <p class="lead">Staff will have access to student's attendance data and will be abe to download data in .csv format.
          Also, MAS is able to analyze student's attendance by considering a few factors like weather, class time and clubs.</p>
      <hr class="my-4">
      <p>Please login as student or staff to have different access to the system.</p>
      <div>
          <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      </div>

      <br>

      <small class="text-primary">
        <a data-toggle="modal" data-target="#registerModal">Haven't got an account yet? Register here</a>
      </small>

      <!-- Register Modal -->
      <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerModalLabel">Register Account</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <a href="/student_register"><button class="btn btn-primary">Register as Student</button></a>
              <a href="/staff_register"><button class="btn btn-primary">Register as Staff</button></a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
{% endblock content %}